#map {
  height: 100%;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.mainFrame {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 1fr;
  grid-auto-flow: column;
}

input {
  display: block;
  margin: 1em auto;
  padding: 0.5em 0.25em;
  border: none;
  border-radius: 0.2em;
  font-size: 1.5em;
  box-shadow: 0 0 1em 0.25em rgba(0, 0, 0, 0.2);
}

.mapContainer {
  height: 100vh;
  width: 100%;
}

@media all and (max-width: 600px) {
  .mainFrame {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 3fr;
    grid-auto-flow: row;
  }
  input {
    font-size: 1em;
  }
  ul {
    columns: 2 100px;
  }
  h1 {
    text-align: center;
    margin: 5px;
    font-size: 1.2em;
  }
  .mapContainer {
    height: 300px;
    width: 100%;
  }
}

.sidePane {
  background-color: #3c3d41;
  padding: 0px 20px;
  color: rgba(255, 255, 255, 1.00);
  box-shadow: 5px 0 5px -5px #333;
  z-index: 10;
}

.options {
  list-style: none;
  padding: 0px;
}

.options li button {
  background: none;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  text-align: left;
  padding: 5px 0px;
  color: rgba(255, 255, 255, 1.00);
  font-weight: bold;
  text-transform: uppercase;
  border: none;
}

.options li button:hover, .options li button:focus, .options li button.isSelected {
  color: rgb(243, 253, 127);
  text-decoration: none;
}

h1 {
  color: rgb(243, 253, 127);
}

.selectedMarker {
  filter: hue-rotate(90deg);
}